/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeef1; /* Light gray background */
    color: #1f1f1f; /* Darker text color for better contrast */
    line-height: 1.6;
}

h2 {
    margin: 20px;
    text-align: center;
    color:  #211238; 
}

h1 {
    text-align: center;
    color: #6a5acd; /* Slate blue color */
    font-size: 2.5em; /* Larger font size */
    margin: 20px 0; /* Margin for spacing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle text shadow */
    transition: color 0.3s, transform 0.3s; /* Smooth transition for color and transform */
}

h1:hover {
    color: #483d8b; /* Darker slate blue on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #211238; /* Blue color for navbar */
    color: #fff;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar a:hover {
    background-color: #3b7dd8; /* Darker blue on hover */
    border-radius: 4px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff; /* White background for main content */
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px; 
    margin: 50px auto; 
    padding: 20px;
    background-color: #f8f8f8; /* Light gray for login form */
    border: 1px solid #ddd;
    border-radius: 8px; 
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); 
}

input, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    border-color: #4a90e2; /* Blue focus border */
    outline: none;
}

button {
    background-color: #ff6f61; /* Coral button color */
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #ff4d4d; /* Darker coral on hover */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6a5acd; /* Slate blue */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;    
}

.button:hover {
    background-color: #5a4cb1; /* Darker slate blue */
}

.delete-btn {
    background: none; 
    color: #d9534f; /* Bootstrap danger color */
    border: none; 
    padding: 0;
    font-size: 14px; 
    text-decoration: underline; 
    cursor: pointer;   
    transition: color 0.3s; 
}

.delete-btn:hover {
    background: none;
    color: #c9302c; /* Darker red on hover */
}

.central-button {
    display: flex;     
    justify-content: center; 
    align-items: center;     
    margin: 20px 0;          
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto; 
    max-width: 90%; 
    background-color: #fff; /* White background for table */
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #4a90e2; /* Blue for table header */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray for even rows */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4a90e2; /* Blue for footer */
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#plotly-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 20px;
}

.pie-chart-container {
    max-width: 30%;
    margin: 20px auto;
}

/* Center and style the Plotly chart container */
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 20px;
}


.chart-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}




.suggestions {
    position: absolute;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
}

.suggestions div {
    padding: 8px;
    cursor: pointer;
}

.suggestions div:hover {
    background-color: #f0f0f0;
}




.cta-section {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
    margin: 20px ;
    border: 2px solid #ddd; /* Added border */
    border-radius: 8px; /* Rounded corners */
}

.cta-content {
    display: inline-block;
    max-width: 600px;
    width: 80%;
}
.cta-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    position: relative;
}

@media (max-width: 768px) {
    .cta-icon {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    .cta-icon {
        width: 60px;
        height: 60px;
    }
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #0056b3;
}



hr.blue {
    border: 1px solid #cb23f0; /* Blue border */
    margin: 20px ; /* Margin for spacing */
}   